 

/* färgtema har hittat på htmlcolorcode.com - https://coolors.co/palette/03045e-0077b6-00b4d8-90e0ef-caf0f8 */
/**/ 


header {
    background-color: #0077B6;
    padding: 10px;
    color: #0077b6;
    border-radius: 11px;
}

.bakgrundsbild img {
    width: 100%;


}
body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;

}


h1 {
    display: flex;
    text-align: center;
    width: 70%;
    padding-top: 50px;
    font-size: 40px;
    font-family: Comic Sans MS;
    color: navy;
    justify-content: space-around;
    align-items: center;

}



h2 {
    background-color: #0077b6;
    width: 100%;
    text-align: center;
    border-radius: 11px;
    width: 100%;
}

#Val {
    margin-bottom: 6px;
    padding: 3px;
    border-radius: 5px;
    background-color: #f1f1f1;
    text-align: center;
    width: 80%;
}

.aside {
    display: flex;
}

iframe {
    width: 885px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 0px;
    padding: 2px;

}



#reklam1 {
    position: relative;
    margin-left: 20px;

 
}

#reklamtext {
    transform: translate(-50%, -50%);
    color: #0077b6;
    font-family: Arial;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 60%; 

}

.p1 {
    display: flex;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: antiquewhite;
   
 
}

.p1:hover {
    border-color: yellow;
}

#lista1 {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#link {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    word-wrap: break-word;
}

#karta {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.p2 {
    display: flex;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: antiquewhite;

}

#lista2 {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

}

#text2 {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 10px;
}

.p3 {
    display: flex;
    border: 2px solid black;
    background-color: antiquewhite;
 
}

#lista3 {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#text3 {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 10px;
}

table {
    width: 50%;
    border: 2px solid black;
    font-size: larger;
}


th, td {
    border:2px solid black;

}

nav>ul.inform{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 120px;
    background-color: lightseagreen;
    font-weight: bold; 
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    
}
ul.inform>li {
    position: relative;
}
ul.inform>li>a {
    display: block;
    padding: 10px;
    color: inherit;
    text-decoration: none;  
}

ul.inform>li:hover>a {
    background-color: rgb(77, 168, 160);
}
ul.inform>li>ul {
    list-style-type: none;
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0;
    background-color:lightseagreen;
    position: absolute;
    left: -53px; 
    top: 100%;
    width: 230px;
    display: none; 
      
}
ul.inform>li>ul>li>a {
    text-decoration: none;
}

ul.inform>li:hover>ul {
    display: block;
}

footer {
    background-color: bisque;
    text-align: center;
    padding: 3px;
    color: chocolate;
    position: fixed;
    bottom: 0;
    width: 100vw;

 }
    
    
    

